button {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    appearance: none;
    cursor: pointer;
    color: white;
    margin-left: .5em;
}

a {
    text-decoration:underline;
}

.tree-node-children {
    margin-left: 1em;
}

.tree-nav-link.tree-nav-link {
    display: inline;
    line-height: 2.1em;
    padding: .2em;
    color: white;
}

.caret {
    width: 1em;
}

.spinner {
    width: 1em;
    height: 1em;
}

.menu-item {
    margin-right: .2em;
}